@font-face {
  font-family: myFontRegular;
  src: url(EMprint-Semibold.ttf);
}
@font-face {
  font-family: myFontBold;
  src: url(EMprint-Semibold.ttf);
}


h2 {
  font-family: myFontBold;
}

p {
  font-family: myFontRegular;
}
